@require 'assets/stylus/variables.styl'

body, html
  max-width 100%
  color primary-text-color
  background lighten(primary-text-color, 90%)

md-content
  background transparent

.md-button
  font-weight 700
