<md-content layout="row" layout-align="center">
  <md-card flex-gt-sm="50" flex-sm="75" flex-xs="100">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Sign up</span>
      </md-card-title-text>
    </md-card-title>
    <form novalidate class="md-inline-form" name="signup.signupForm" ng-submit="signup.register()">
      <md-card-content>
          <div layout-padding>
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs>
                <label>Firstname</label>
                <input name="firstname" ng-model="signup.user.firstname">
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs>
                <label>Lastname</label>
                <input name="lastname" ng-model="signup.user.lastname">
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs>
                <label>Username *</label>
                <input name="username" required ng-model="signup.user.username">
              </md-input-container>
              <md-datepicker name="dob" required ng-model="signup.user.dob" md-placeholder="Date of birth" md-max-date="signup.maxdate"></md-datepicker>
            </div>
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs>
                <label>Email *</label>
                <input name="email" required ng-model="signup.user.email">
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs>
                <label>Password *</label>
                <input name="password" type="password" required ng-model="signup.user.password">
              </md-input-container>
            </div>
            <div layout-gt-xs="row">
              <md-input-container class="md-block" flex-gt-xs>
                <label>Confirm password *</label>
                <input name="confirmpwd" type="password" required>
              </md-input-container>
            </div>
          </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="center center">
        <md-button type="submit" class="md-raised md-accent">Sign me up!</md-button>
      </md-card-actions>
    </form>
    <md-card-content layout="row" layout-align="center center">
      <span class="md-display-3 signup__separator">OR</span>
    </md-card-content>
    <md-card-actions layout="row" layout-align="center center">
      <md-button class="md-fab waisygh__facebook" aria-label="Facebook">
        <md-icon md-svg-icon="facebook" style="fill:white;"></md-icon>
      </md-button>
      <md-button class="md-fab waisygh__twitter" aria-label="twitter">
        <md-icon md-svg-icon="twitter" style="fill:white;"></md-icon>
      </md-button>
      <md-button class="md-fab waisygh__google" aria-label="Google">
        <md-icon md-svg-icon="google" style="fill:white;"></md-icon>
      </md-button>
    </md-card-actions>
  </md-card>
</md-content>
